.img {
  height: 300px;
  width: 300px;
}

.photo {
  height: 300px;
  width: 300px;

}

/* .footer {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
} */

.header {
  font-family: papyrus;
  color: rgb(160, 98, 160);
}

body {
  background-color: #c2cae0;
  width: 100vw;
  height: 100vh;
}

.aboutme {
  font-family: papyrus;
  text-wrap: wrap;
  width: 70%;

}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
}

/* Footer Styles */
.footer { 
  background-color: #343a40; 
  color: #fff; 
  padding: 20px 0; 
  position: relative; 
  bottom: 0; 
  width: 100%; 
} 

.footer p { 
  margin-bottom: 0; 
} 

.social-icons { 
  display: flex; 
  justify-content: flex-end; 
} 

.social-icons li { 
  margin-right: 10px; 
} 

.social-icons a { 
  color: #fff; 
  font-size: 20px; 
  text-decoration: none; 
} 